# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
env/
venv/
ENV/

# Database
db.sqlite3
db.sqlite3-journal

# Static and Media
staticfiles/
media/

# Environment variables
.env

# VS Code
.vscode/
